<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioAgente" />
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IServicioCatalogos" />
                <binding name="BasicHttpBinding_IServicioInstructor" />
                <binding name="BasicHttpBinding_IServiciosGrupos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53722/ServicioCatalogos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServicioCatalogos.IService1" name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:53722/ServicioCatalogos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCatalogos"
                contract="ServicioCatalogos.IServicioCatalogos" name="BasicHttpBinding_IServicioCatalogos" />
            <endpoint address="http://localhost:53722/ServicioInstructor.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioInstructor"
                contract="ServicioInstructores.IServicioInstructor" name="BasicHttpBinding_IServicioInstructor" />
            <endpoint address="http://localhost:53722/ServiciosGrupos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiciosGrupos"
                contract="ServicioGrupos.IServiciosGrupos" name="BasicHttpBinding_IServiciosGrupos" />
            <endpoint address="http://localhost:53722/ServicioAgente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAgente"
                contract="ServicioAspirantes.IServicioAgente" name="BasicHttpBinding_IServicioAgente" />
        </client>
    </system.serviceModel>
</configuration>